*{
	margin:0;
	border: 0;
	padding : 0;
}
@media only screen and (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
    	max-width: 1170px;
    	margin-right: auto;
  		margin-left: auto;
	}
}

header nav,.container-fluid, .row, .nav__logo, .navbar, .nav-logo{
	height: 100%;
}




